#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.productcardimage:hover .productImage {
  opacity: 0.5;
  cursor: pointer;
}


@media screen and (max-width: 1920px) {
  body {
display: flex;
flex-direction: column;  }
}
